<!-- Modal -->
<div
  class="modal fade"
  id="changeAvatar"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="changeAvatarLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="changeAvatarLabel">Your Avatar</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="/changeAvatar"
          method="POST"
          enctype="multipart/form-data"
          id="form_change_avt"
        >
          <div class="row">

            <input
              type="file"
              id="image"
              accept="image/*"
              class="inputPhoto"
              name="photo"
            />
            <div class="changePhoto">Change Avatar</div>
            <img id="preview" src="{{user.photo}}" alt="avt" class="photo" />

          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
        <button type="button" class="btn btn-primary" id="saveAvt">Save</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/change_avt.js"></script>