<div class="card login-space" style="width: 100%; margin-top: 5%; height: 85%;">
  <div class="row g-0" style="height: 100%;">
    <div class="col-md-7">
      <img
        src="https://cdn.pixabay.com/photo/2023/01/27/04/53/muslim-7747745_960_720.png"
        class="img-fluid rounded-start"
        alt="temp"
        style="height: 100%; width: 100%;"
      />
    </div>
    <div class="col-md-5" style="height: 100%;">
      {{> login}}
      {{> register}}
    </div>
  </div>
</div>

<script src="/js/log.handle.js"></script>
<script src="/js/event.js"></script>