<link rel="stylesheet" href="/css/main.css" />

<div class="text-center mt-5" style="background-color: white;">
  <h1 class="mb-3">Your account has not been verified!</h1>
  <h5>We resend verify email to your email! please enter this URL for verify
    your account!</h5>

  <form action="/logout" method="POST">
    <button type="submit" class="btn btn-primary mb-5">Logout</button>
  </form>
</div>